<h1>Customer List</h1>

<ul>
<% @customers.each do |customer| -%>
<li><%= link_to customer.name, :action => 'edit_info', :id => @project, :customer_id => customer.id -%> from <%= h customer.company -%></li>
<% end -%>
</ul>

<%= render(:partial => 'menu') %>
